# Hostinger Email SMTP
MAIL_HOST=smtp.hostinger.com
MAIL_PORT=465

MAIL_USERNAME=no-reply@bedgetech-inc.com
MAIL_PASSWORD=bEdgeTech@2026

MAIL_ENCRYPTION=ssl
MAIL_AUTH=true

MAIL_FROM_ADDRESS=no-reply@bedgetech-inc.com
MAIL_FROM_NAME="bEdge Tech Services"

MAIL_TIMEOUT=10
MAIL_DEBUG=false

APP_ENV=production